GROUND_HOST=192.168.1.11
GROUND_PORT=9000
BRIDGE_TRANSPORT=tcp
BRIDGE_MODE=raw
SERIAL_PORT=/dev/ttyS2
SERIAL_BAUD=420000
CONNECT_TIMEOUT_MS=2000
RECONNECT_DELAY_MS=1000
POLL_TIMEOUT_MS=250
ETH_IFACE=eth0
CAMERA_IP_CIDR=192.168.1.10/24
VERBOSE=1
